<h1>{{title}}</h1>
<div class="database-container">

<form class="actualizar" action="/famosos/edit/{{famoso._id}}" method="POST" enctype="multipart/form-data">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{famoso.nombre}}" required>
    <br>
    <label for="profesion">Disciplina:</label>
        <select id="profesion" name="profesion" class="form-control form-control-lg">
          <option value="">Seleccione una opción</option>
          <option value="Deporte">Deporte</option>
          <option value="Ciencia">Ciencia</option>
          <option value="Arte">Arte</option>
        </select>
    <br>
    <label for="image">Imagen:</label>
    <input type="file" id="image" name="image">
    <br>
    <button type="submit" class="btn btn-custom btn-lg">Actualizar</button>
</form>
</div>