<h1>{{message}}</h1>
<div class="estilos-index">
<main>
  <h3>Objetivo</h3>
  <p>
    Desarrollar una aplicaci칩n web utilizando <strong>Node.js</strong> y <strong>Express</strong> que permita realizar
    operaciones b치sicas de <strong>CRUD</strong> (Crear, Leer, Actualizar, Eliminar). La aplicaci칩n debe manejar datos
    din치micos con el motor de plantillas <strong>HBS</strong>, <strong>EJS</strong> o <strong>React</strong> e integrar
    una <strong>API externa</strong>.
  </p>
</main>
<figure>
  <img src="/assets/hbs.png" alt="Logo hbs ">
 <img src="/assets/css.png" alt="Logo CSS">
 <img src="/assets/express.png" alt="Logo Express">
 <img src="/assets/html.png" alt="Logo HTML">
 <img src="/assets/js.png" alt="Logo JS">
 <img src="/assets/mongodb.png" alt="Logo MongoDB">
 <img src="/assets/multer.png" alt="Logo Multer">
 <img src="/assets/node.png" alt="Logo Node">
 <img src="/assets/git.png" alt="Logo Git">
 <img src="/assets/terminal.png" alt="Logo Terminal">
</figure>
</div>